.leaflet-example-map {
	height: 225px;
	max-width: 500px;
	margin: 20px;
}

#leaflet-example-start {
	margin-bottom: 0px;
}

/* Override the css we import for the nav bar. */
html#root {
	background: #fff;
}