html#root .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method a {
  background-color: #11abd6;
}

/* Override the css we import for the nav bar. */
html#root {
  background: transparent;
}

html#root pre {
	background-image: none;
}

html#root td {
  border-width: 0; 
}

html#root p {
	margin: 0;
}

html#root .swagger-section .container ul {
	margin-left: 0;
}

html#root #header {
	padding-top: 100px;
	background-color: #FFFFFF;
}
html#root #header #auth_container .authorize__btn {
	background-color: #11abd6;
	margin-top: 100px;
}

header {
	position: fixed;
}